<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Management</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>API de Gestão Financeira</h1>
    <nav>
        <ul>
            <li><a href="/accounts">😶 <br>Contas</a></li>
            <li><a href="/credits">📊 <br>Créditos</a></li>
            <li><a href="/debits">📉 <br> Débitos</a></li>
        </ul>
    </nav>
    <script src="/static/js/main.js"></script>
</body>
</html>
